head
    title= team.name
    link(rel="stylesheet", href="/public/css/teamProfile.css")
body
    include /partials/navbar.pug
    h1= team.name
    if team.coach._id == account._id
        span Share this link with your players: 
        a(href="join/"+team.code) join/#{team.code}
        br
        button
            a(href=team.code+"/game/new") Create Game +
        br

    div.container
        if players
            div.content#players
                h2 Players
                table
                    thead
                        tr
                            th Name
                            th Positions
                    tbody
                        for player in players
                            tr
                                td= player.user.name
                                td= player.positions

        if games
            div.content#schedule
                h2 Schedule
                table
                    thead
                        tr
                            th Date
                            th Opponent
                    tbody
                        for game in games
                            tr
                                td= new Date(game.date).toJSON().slice(0,10)
                                td
                                    a(href="./" + team.code + "/game/" + game.gameId)= game.opponent