head
    title Dashboard
    link(rel="stylesheet", href="/public/css/dashboard.css")
    script(src="/public/js/dashboard.js" defer) 
body
    include partials/navbar.pug
    h1 Welcome #{account.name}

    main
        div
            div
                button#teamMenuButton Show Menu
                div#teamMenu
                    input#teamCode(type="text" placeholder="Enter Team Code")
                    button#joinTeamButton Join Team
                    button
                        a(href="/team/new") Create New Team

            h2 Your Teams

            if responses.teamDeleteSuccessful
                h3.success Team deleted successfully

            if teams.length > 0
                table
                    thead 
                        tr
                            th Team Name
                            th Role
                    tbody
                        each team in teams
                            tr
                                td
                                    a(href=`/team/${team.code}`)= team.name
                                td
                                    - const playerProfile = playerProfiles.find((profile => profile.team._id == team._id));
                                    if playerProfile
                                        a(href=`/player/${playerProfile._id}`)= team.coach == account._id ? 'Player/Coach' : 'Player'
                                    else
                                        span Coach
            else 
                p You are not currently part of any teams. Create one or join an existing one using their team code

        div
            h2 Upcoming Games
            if games.length > 0
                for game in games
                    - const rejected = playerProfiles.some(e => game.playersRejected.includes(e._id))
                    div.game-card(class={greyedOut: rejected})
                        a(href=`/team/${game.team.code}/game/${game.gameId}`)
                            h3= game.title
                        p= game.dateTimeString
                        //- User has signed up to game
                        if playerProfiles.some(e => game.playersSignedUp.includes(e._id))
                            if game.linesSubmitted
                                a(href=`/team/${game.team.code}/game/${game.gameId}/lines`) 
                                    button View lines
                            else
                                p Waiting for lines
                        //- User has not signed up to or rejected game
                        else if !rejected 
                            p Let the coach know if you can play
                            button
                                a(href=`team/${game.team.code}/game/${game.gameId}/signup`) Sign Up
                            button
                                a(href=`team/${game.team.code}/game/${game.gameId}/reject`) Reject Game
            else
                p You currently have no upcoming games