head
    if game.atHome
        - var gameTitle = team.name + " vs " + game.opponent
    else
        - var gameTitle = game.opponent + " vs " + team.name
    title= gameTitle
    link(rel="stylesheet", href="/public/css/gamePage.css")
body
    include ../../partials/navbar.pug
    h1= gameTitle
    h2 #{game.atHome ? "Home" : "Away"} at #{game.date}

    div#buttons
        if isPlayer
            if game.playersSignedUp.some(e => e.user._id == account._id)
                button.red
                    a(href=game.gameId+"/leave") Leave Game
            else
                button.green
                    a(href=game.gameId+"/signup") Sign Up

        if game.lines && (isPlayer || isCoach)
            button 
                a(href=game.gameId+"/lines") View Lines

        if isCoach
            button 
                a(href=game.gameId+"/line-builder")
                    if game.lines 
                        span Update Lines
                    else 
                        span Build Lines


    h2 Players Signed Up
    ul
        for signedPlayer in game.playersSignedUp
            li= signedPlayer.user.name