head
    title= game.title
    link(rel="stylesheet", href="/public/css/gamePage.css")
body
    include ../../partials/navbar.pug
    h1= game.title
    h2 #{game.atHome ? "Home" : "Away"} at #{game.date.toJSON().slice(0,10).split('-').reverse().join('/') + " at " + game.date.toLocaleTimeString()}

    div#buttons
        if game.result
            button
                a(href=game.gameId+"/gamesheet") View Game Sheet
        else
            if isPlayer
                if game.playersSignedUp.some(e => e.user._id == account._id)
                    button.red
                        a(href=game.gameId+"/leave") Leave Game
                else
                    button.green
                        a(href=game.gameId+"/signup") Sign Up

            if game.lines && (isPlayer || isCoach)
                button 
                    a(href=game.gameId+"/lines") View Lines

            if isCoach
                if game.lines
                    button 
                        a(href=game.gameId+"/line-builder")
                            if game.lines 
                                span Update Lines

                    button
                        a(href="result") Submit Game Result
                else
                    button 
                        a(href=game.gameId+"/line-builder") Build Lines


    h3 #{game.playersSignedUp.length} Players Signed Up
    ul
        for signedPlayer in game.playersSignedUp
            li= signedPlayer.user.name